/* General Styles for All Pages */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    /* Ensure the body takes up the full viewport height */
    min-height: 100vh;
}

/* Header Styles */
header {
    background-color: #1e90ff;
    padding: 10px;
    text-align: center;
    color: white;
}
header h1 {
    /* Remove default margin */
    margin: 0; 
}

header nav ul {
    /* Remove bullet points */
    list-style: none;
    padding: 0;
    /* Space above the nav */
    margin: 10px 0 0; 
    /* Flexbox for horizontal layout */
    display: flex;
    justify-content: center;
}

header nav ul li {
    /* Space between nav items */
    margin: 5px 10px; 
}

/* Footer Styles */
footer {
    background-color: #1e90ff;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}