/* General Styles for All Pages */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    /* Ensure the body takes up the full viewport height */
    min-height: 100vh;
}

/* Header Styles */
header {
    background-color: #1e90ff;
    padding: 10px;
    text-align: center;
    color: white;
}

header h1 {
    /* Remove default margin */
    margin: 0;
}

header nav ul {
    /* Remove bullet points */
    list-style: none;
    padding: 0;
    /* Space above the nav */
    margin: 10px 0 0;
    /* Flexbox for horizontal layout */
    display: flex;
    justify-content: center;
}

header nav ul li {
    /* Space between nav items */
    margin: 5px 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline; /* Underline on hover for emphasis */
}

/* Main Content Container */
.container {
    /* Semi-transparent background for readability */
    background-color: rgba(0, 0, 0, 0.7); 
    /* Padding inside the container */
    padding: 15px; 
    border-radius: 10px;
    /* Center align text */
    text-align: center; 
    /* Responsive width */
    width: 90%; 
    /* Limit max width on small screens */
    max-width: 500px;
    /* Subtle shadow for depth */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    /* Center horizontally with space for header and footer */
    margin: auto auto; 
    position: relative;
}

/* Button Styles */
button {
    /* Default blue background for buttons to keep styling consistant */
    background-color: #1e90ff;
    /* white color for text */
    color: #fff;
    border: none;
    padding: 10px;
    /* Margin between buttons */
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    /* Button to go dark blue when hovered on */
    background-color: #1c86ee;;
}

/* Tomato color for quit button */
#quit-btn {
    background-color: #ff6347; 
}

/* Darker tomato color on hover */
#quit-btn:hover {
    background-color: #ff4500; 
}

/* Footer Styles */
footer {
    background-color: #1e90ff;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

/* High Score Display Styles */
#quiz-selection p {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    margin-bottom: 15px;
}

#quiz-selection button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#quiz-selection button:hover {
    background-color: #1c86ee;
}
